#title {
  text-align: center;
  margin-top: 50px;
}

.card {
  margin-top: 20px;
  padding: 20px;
}

.komentar {
  margin-top: 20px;
}

textarea {
  height: 100%;
  width: 100%;
}

#create-blog {
  margin-right: auto;
}

#my_photo {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.data{
  margin-top: 20px;
  text-align: center;
}

.about-me{
  margin-top: 20px;
  text-align: center;
}

.experience {
  margin-top: 20px;
  text-align: center;
}