{% extends 'base.html' %} {% load static %} 

{% block title %}
Create Blog
{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'blog/css/style.css' %}" />
{% endblock head %}


{% block content %}
<section>
  <div class="container-fluid">
      <div class="container-sm">
          <div id="title">
              <h1>Create Your Blog 💛</h1>
              <hr>
          </div>
 
            <div class="mb-3">
              <label class="form-label">Blog Title</label>
              <input id="blog-title" class="form-control" placeholder="Judul Blog" required>
            </div>
            <div class="mb-3">
              <label class="form-label">Content</label>
              <textarea id="blog-content" rows="4" class="form-control" placeholder="Tulis komentar..." required></textarea>
            </div>
            <button id="create-button" type="submit" class="btn btn-primary">Create</button>

      </div>
  </div>
</section>

{% endblock content %}

{% block script %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'blog/js/create_blog.js'%}"></script>
{% endblock script %}
