{% extends 'base.html' %} {% load static %} 

{% block title %}
Blog Detail
{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'blog/css/style.css' %}" />
{% endblock head %}


{% block content %}
<section>
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-8">
            <section class="blog-data">

            </section>
          </div>
          <div class="col-lg-4">
              <section>
                  <div id="title">
                        <h1>Komentar</h1>
                        <hr>
                  </div>
                  <div class="card">
                      <div class="card-body">
                        <textarea id="komentar-area" rows="4" name="comment" form="usrform" placeholder="Tulis komentar..."></textarea>
                        <button id="komentar-content" type="button" class="btn btn-primary">Post Komentar</button>
                        <section class="list-komentar">
  
                        </section>
                      </div>
                  </div>
              </section>
          </div>
      </div>
  </div>
</section>

{% endblock content %}

{% block script %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'blog/js/detail_blog.js'%}"></script>
{% endblock script %}
