{% extends 'base.html' %} {% load static %} 

{% block title %}
Login
{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'blog/css/auth.css' %}" />
{% endblock head %}


{% block content %}
<section>
  <div class="container-fluid">
      <div class="container-sm">
          <div id="title">
              <h1>Login</h1>
              <hr>
          </div>
          <div class="mb-3">
            <label class="form-label">username</label>
            <input id="username" type="email" class="form-control" id="exampleInputEmail1" placeholder="ex : eren.yeager">
          </div>
          <div class="mb-3">
            <label class="form-label">Password</label>
            <input id="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="your password">
          </div>
          <button id="login-button" type="button" class="btn btn-primary">Login</button>
          <p id="register">Don't have account yet? <a href="{% url 'blog:register' %}" class="register">Register</a>!</p>
      </div>
  </div>
</section>

{% endblock content %}

{% block script %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'blog/js/login.js'%}"></script>
{% endblock script %}
