{% extends 'base.html' %} {% load static %}
{% block title %} 
Main 
{% endblock title %} 

{% block head %}
<link rel="stylesheet" href="{% static 'blog/css/style.css' %}" />
{% endblock head %} 

{% block content %}
<section>
  <div class="container-fluid">
    <div id="title">
      <h1>List of Blogs</h1>
      <hr />
    </div>
    <section class="penulis-related-createblog">
      <!-- FOR PENULIS ONLY -->
    </section>
    <section class="list-blog">

    </section>
  </div>
</section>

{% endblock content %} 

{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'blog/js/main.js'%}"></script>
{% endblock script %}
