{% extends 'base.html' %} {% load static %} 

{% block title %}
Arya Profile
{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'blog/css/style.css' %}" />
{% endblock head %}


{% block content %}
<section>
  <div class="container-fluid">
      <div class="container-sm">
          <div id="title">
              <p class="h1">Writer's Profile</p>
              <hr>
          </div>
          <img id="my_photo" src="{% static 'mine.png' %}" alt="">
          <div class="data">
            <h3>Aryaputra Athallah</h3>
            <strong>TTL :</strong> Jakarta, 21 Desember 2000 <br>
            <strong>Age : </strong> 21<br>
            <strong>Location : </strong> Bogor<br>
          </div>
          <div class="about-me">
            <h3>About Me</h3>
            <p>My name is Arya, I am a student of Fasilkom UI. I am interested in several fields such as photography, videography, design, video editing and web development. I'm still learning to master all these fields</p>
          </div>
          <div class="experience">
            <h3>Experiences</h3>
            <strong>Campaign.id : </strong> Backend Developer Intern (2021 - now) <br>
            <strong>Compfest : </strong> Volunteer Lead of Startup Academy (2021) <br>
            <strong>Educare 2021 :</strong> VPIC of Workshop Division (2020 - 2021) <br>
            <strong>Pengenalan Mahasiswa Baru (PMB) Fasilkom : </strong> VPIC of Documentation Division 
          </div>
      </div>
  </div>
</section>

{% endblock content %}

{% block script %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock script %}
