{% extends 'base.html' %} {% load static %} 

{% block title %}
Register
{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'blog/css/auth.css' %}" />
{% endblock head %}


{% block content %}
<section>
  <div class="container-fluid">
      <div class="container-sm">
          <div id="title">
              <h1>Register</h1>
              <hr>
          </div>
          <div class="mb-3">
            <label class="form-label">Nama Lengkap</label>
            <input id="namaLengkap" class="form-control"  placeholder="ex : Eren Yeager">
          </div>
          <div class="mb-3">
            <label class="form-label">username</label>
            <input id="username" class="form-control" placeholder="ex : eren.yeager">
          </div>
          <div class="mb-3">
            <label class="form-label">Password</label>
            <input id="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="your password">
          </div>
          <button id="register-button" type="button" class="btn btn-primary">Register</button>
          <p id="register">Have account already? <a href="{% url 'blog:login' %}" class="login-nav-button">Login</a>!</p>
      </div>
  </div>
</section>

{% endblock content %}

{% block script %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'blog/js/register.js'%}"></script>
{% endblock script %}
