
  body {
    background-color: #f4ecec !important;
  }
  
  #title2 {
    background-color: #262254 !important;
  }
  
  /* navbar  */
  .nav-item {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
  }
  
  .nav-link {
    color: #ffa45e !important;
    transition: ease 0.3s;
  }
  
  .nav-link:hover {
    color: white !important;
  }
  
  .navbar-brand {
    color: #ffa45e !important;
    font-family: "black_signature_personal_usRg";
    font-size: 1.8rem;
  }
  
  .download-button {
    color: white;
    font-size: large;
    background-color: #a13670 !important;
    margin: 5% 5% 5% 0;
  }
  
  .download-button:hover {
    background-color: #ffa45e !important;
  }
  .download-button2 {
    width: 100px;
    font-size: large;
    color: white;
    border: 2px solid #a13670;
    margin: 5% 5% 5% 0;
  }
  
  .logout-button {
    width: 100px;
    color: white;
    font-size: large;
    background-color: #a13670 !important;
    margin: 5% 5% 5% 0;
  }
  @media (max-width: 990px) {
    #title2 {
      text-align: center;
    }
    .login-button {
      width: 100%;
      margin: 1% 1% 1% 0;
      color: white;
    }
  }
  